---
import Layout from "../layouts/Layout.astro"
import Gallery from "../components/Gallery.astro"
---

<Layout bg="https://res.cloudinary.com/aridev21/image/upload/v1752017847/img/header_galeria_sax6vi" title="Disfruta una deliciosa taza de cafe" title="Galería" titleHeader="Disfruta una deliciosa taza de café" className="fondo-galeria" 
paginaActual="/galeria">
    <main class="contenedor up">
        <Gallery />
    </main>
</Layout>
