---
import Layout from '../layouts/Layout.astro';
import TitleCoffee from '../components/TitleCoffee.astro';
import MenuComp from '../components/Menu.astro';
---
<Layout titleHeader='Disfruta nuestro delicios menú' bg='https://res.cloudinary.com/aridev21/image/upload/v1752017848/img/header_menu_uzqplo' title='Menu' className='fondo-menu' paginaActual='/menu' >
    <main class="contenedor up up-0">
        <TitleCoffee cont1='Utilizamos los' cont2='Mejores ingredientes' />
        <section class="bg-[url(https://res.cloudinary.com/aridev21/image/upload/v1752017844/img/cafe_drog3r)] bg-no-repeat bg-p4 bg-contain aspect-[4/7] mt-14  md:grid md:grid-cols-2 md:gap-10 md:aspect-[16/6] md:bg-[length:40%] md:bg-p5">
            <p class="text-justify text-[16px] leading-loose">En nuestro menú encontrarás una variedad de cafés, tés y postres elaborados con ingredientes frescos y seleccionados. Descubre sabores únicos y déjate sorprender por nuestras especialidades.
            </p>
        </section>
    </main>

    <MenuComp />
</Layout>
<style>
    .up-0{
        padding-bottom: 0;
    }

</style>
