---
import Layout from '../layouts/Layout.astro'
import TitleCoffee from '../components/TitleCoffee.astro'
---

<Layout title='Nosotros' titleHeader='Una nueva experencia cada día' bg='https://res.cloudinary.com/aridev21/image/upload/v1752017849/img/header_nosotros_v7h746' paginaActual='/nosotros'>
    <main class=" up contenedor up bg-blanco text-center py-14 px-5 md:p-24">
        <TitleCoffee cont1='conoce mas' cont2='sobre nosotros' />
        <div class="lg:flex lg:items-center lg:gap-10">
            <div class="mt-5">
                <img src="https://res.cloudinary.com/aridev21/image/upload/v1752017853/img/nosotros_sidebar_hrukd3" alt="img" class="-rotate-6 border-[30px] border-solid border-blanco shadow-md">
            </div>
            <div class="mt-16 text-justify px-3">
                <p class="leading-normal">Somos una cafetería apasionada por ofrecer experiencias únicas a través de cada taza. Nuestro compromiso es brindar calidad, calidez y un ambiente acogedor para todos nuestros clientes.</p>
    
                <blockquote class="my-6 p-5 text-xl border-l-[5px] border-solid border-primario">
                    Excelente Sabor
                </blockquote>
        
                <p class="leading-normal">Cada día trabajamos para que disfrutes el mejor café, acompañado de postres y momentos inolvidables. ¡Gracias por ser parte de nuestra familia cafetera!</p>
            </div>
        </div>
    </main>
</Layout>