---
import Layout from '../layouts/Layout.astro'
import TitleCoffee from '../components/TitleCoffee.astro'
import CoffeProcess from '../components/CoffeProcess.astro'
---

<Layout title='Procesos' bg='https://res.cloudinary.com/aridev21/image/upload/f_auto,q_auto/v1/img/header_proceso_gn6gyr' titleHeader='los verdaderos expertos del café' paginaActual='/proceso'>
    <main class="contenedor up">
        <TitleCoffee cont1='nuestro' cont2='proceso'/>
        <section>
            <CoffeProcess title='Granos de cafe' description='Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta unde ut accusantium enim alias, doloremque inventore officiis nulla. Facere, enim?' image='https://res.cloudinary.com/aridev21/image/upload/f_auto,q_auto/v1/img/proceso_1_ymrkzp'/>
            <CoffeProcess title='Tostar el cafe' description='Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta unde ut accusantium enim alias, doloremque inventore officiis nulla. Facere, enim?' image='https://res.cloudinary.com/aridev21/image/upload/f_auto,q_auto/v1/img/proceso_2_azqhul'/>
            <CoffeProcess title='Empacar el café' description='Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta unde ut accusantium enim alias, doloremque inventore officiis nulla. Facere, enim?' image='https://res.cloudinary.com/aridev21/image/upload/f_auto,q_auto/v1/img/proceso_3_tjs7ci'/>
            <CoffeProcess title='Moler los granos del cafe' description='Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta unde ut accusantium enim alias, doloremque inventore officiis nulla. Facere, enim?' image='https://res.cloudinary.com/aridev21/image/upload/f_auto,q_auto/v1/img/proceso_4_wkcono'/>
            <CoffeProcess title='Disfrutar una taza' description='Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta unde ut accusantium enim alias, doloremque inventore officiis nulla. Facere, enim?' image='https://res.cloudinary.com/aridev21/image/upload/f_auto,q_auto/v1/img/proceso_5_g3hkn7'/>
        </section>
    </main>
</Layout>