---
import Layout from '../layouts/Layout.astro'
import TitleCoffee from '../components/TitleCoffee.astro'
import CoffeProcess from '../components/CoffeProcess.astro'
---

<Layout title='Procesos' bg='https://res.cloudinary.com/aridev21/image/upload/v1752017850/img/header_proceso_xrmtso' titleHeader='los verdaderos expertos del café' paginaActual='/proceso'>
    <main class="contenedor up">
        <TitleCoffee cont1='nuestro' cont2='proceso'/>
        <section>
            <CoffeProcess title='Granos de cafe' description='Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta unde ut accusantium enim alias, doloremque inventore officiis nulla. Facere, enim?' image='https://res.cloudinary.com/aridev21/image/upload/v1752017850/img/proceso_1_vqatmk'/>
            <CoffeProcess title='Tostar el cafe' description='Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta unde ut accusantium enim alias, doloremque inventore officiis nulla. Facere, enim?' image='https://res.cloudinary.com/aridev21/image/upload/v1752017851/img/proceso_2_dinbq4'/>
            <CoffeProcess title='Empacar el café' description='Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta unde ut accusantium enim alias, doloremque inventore officiis nulla. Facere, enim?' image='https://res.cloudinary.com/aridev21/image/upload/v1752017852/img/proceso_3_ywyobe'/>
            <CoffeProcess title='Moler los granos del cafe' description='Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta unde ut accusantium enim alias, doloremque inventore officiis nulla. Facere, enim?' image='https://res.cloudinary.com/aridev21/image/upload/v1752017855/img/proceso_4_filcje'/>
            <CoffeProcess title='Disfrutar una taza' description='Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta unde ut accusantium enim alias, doloremque inventore officiis nulla. Facere, enim?' image='https://res.cloudinary.com/aridev21/image/upload/v1752017856/img/proceso_5_sp3im0'/>
        </section>
    </main>
</Layout>