---

---
<section>
    <ul class="flex flex-col items-center gap-5 md:grid md:grid-cols-3 md:gap-x-16">
        <li>
            <img src="/assets/icono_cafe.svg" alt="Cafe">
            <h3>Café</h3>
        </li>
        <li>
            <img src="/assets/icono_postre.svg" alt="Cafe">
            <h3>Postres</h3>
        </li>
        <li>
            <img src="/assets/icono_te.svg" alt="Cafe">
            <h3>Té</h3>
        </li>
    </ul>
</section>

<style>
    li{
        @apply flex flex-col items-center
    }
    li img{
        width: 150px;
        height: 150px;
    }

    h3{
        @apply mt-5 font-cursiva text-3xl text-primario
    }
</style>