---

---

<footer class="bg-primario">
    <div class="contenedor bg-blanco  p-12 md:grid md:grid-cols-3">
        <div class="box">
            <h2 class="font-cursiva uppercase text-3xl text-secundario font-bold mb-3">Ubicación</h2>
            <p class="font-cursiva text-2xl mb-3">Quito</p>
            <p class="font-cursiva text-2xl">Pichincha</p>
        </div>
        <div class="box">
            <h2 class="font-cursiva uppercase text-3xl text-secundario font-bold mb-3">Reservación</h2>
            <p class="font-cursiva text-2xl mb-3">Tel: 3850-9102</p>
            <a href="tel:3850-9102" class="font-cursiva text-2xl cursor-pointer inline-block p-6 bg-secundario hover:bg-primario mt-3 ease-in hover:scale-110 hover:text-blanco duration-300">Llamar</a>
        </div>
        <div class="box">
            <h2 class="font-cursiva uppercase text-3xl text-secundario font-bold mb-3">Horario</h2>
            <p class="font-cursiva text-2xl mb-3">Lun - Jue: 11:00 - 22:00</p>
            <p class="font-cursiva text-2xl mb-3">Vie - Sab: 09:00 - 14:00</p>
            <p class="font-cursiva text-2xl mb-3">Domingo Cerrado</p>
        </div>
    </div>
    <p class="text-blanco text-center text-2xl leading-normal px-3 py-5">Todos los derechos reservados © Ariel Tonato</p>
</footer>

<style>
    .box{
        @apply mb-10 text-center;
    }
</style>