---
import TitleCoffee from "../components/TitleCoffee.astro";

let imgsLinks: string[] = [
    'https://res.cloudinary.com/aridev21/image/upload/v1752017845/img/galeria/galeria_01_qaxsqt',
    'https://res.cloudinary.com/aridev21/image/upload/v1752017844/img/galeria/galeria_02_zswlo3',
    'https://res.cloudinary.com/aridev21/image/upload/v1752017845/img/galeria/galeria_03_cr8osp',
    'https://res.cloudinary.com/aridev21/image/upload/v1752017844/img/galeria/galeria_04_zejf2p',
    'https://res.cloudinary.com/aridev21/image/upload/v1752017844/img/galeria/galeria_05_eii06z',
    'https://res.cloudinary.com/aridev21/image/upload/v1752017845/img/galeria/galeria_06_wmi2hv',
    'https://res.cloudinary.com/aridev21/image/upload/v1752017854/img/galeria/galeria_07_i5ocws',
    'https://res.cloudinary.com/aridev21/image/upload/v1752017844/img/galeria/galeria_08_tvjsxp',
    'https://res.cloudinary.com/aridev21/image/upload/v1752017845/img/galeria/galeria_09_tzbcbd',
    'https://res.cloudinary.com/aridev21/image/upload/v1752017854/img/galeria/galeria_07_i5ocws'
];
---

<section class="contenedor py-[50px]">
    <TitleCoffee cont1="Vive la" cont2="experiencia" />
    <div class="mt-10 grid grid-cols-2 gap-2 lg:grid-cols-4">
        {
            imgsLinks.map((img) => (
                <picture>
                    <img 
                        src={img}
                            alt="imagen galeria"
                            class="imagen w-[300px] h-[300px] object-cover"
                        />
                    </picture>
                ))
        }
    </div>
</section>
<style>
    @media (min-width: 1024px) {
        img{
            width: 100%;
            min-height: 100%;
            max-height: 300px;
        }
        picture:nth-child(1){
            grid-row: 1/3;
        }
        picture:nth-child(2){
            grid-column: 2/4;
        }
        picture:nth-child(4){
            grid-row: 2/4;
        }
        picture:nth-child(5){
            grid-column: 3/5;
        }
        picture:nth-child(6){
            grid-column: 3/5;
        }
        picture:nth-child(7){
            grid-row: 3/5;
        }
        picture:nth-child(8){
            grid-column: 2/5;
        }
        picture:nth-child(9){
            grid-column: 1/3;
        }
        picture:nth-child(10){
            grid-column: 3/5;
        }
    }
</style>
