---
import NavBar from "./NavBar.astro";

interface Props {
    paginaActual: string;
}

const { paginaActual } = Astro.props;
---

<div class="relative">
    <NavBar paginaActual={paginaActual} />
    <div class="px-4">
        <h1
            class="uppercase text-blanco text-center text-[40px] leading-normal font-bold mt-16 mb-5 md:mb-20 md:mt-[100px] lg:mb-48"
        >
            <slot />
        </h1>
    </div>
</div>
