---
import NavLink from "./NavLink.astro";

interface Props{
    paginaActual: string;
}

const {paginaActual} = Astro.props;

---

<div class="relative">
    <div class="flex flex-col gap-4 lg:flex-row lg:justify-around lg:gap-24">
        <div class="w-[60%] m-auto md:w-[250px] lg:m-0">
            <img src="/Astro-Cafeteria/assets/logo.svg" alt="" />
        </div>
        <nav
            class="flex flex-col items-center gap-4 md:flex-row md:justify-center"
        >
        <NavLink link="/Astro-Cafeteria" activo={paginaActual === "/"}>Inicio</NavLink>
        <NavLink link="/Astro-Cafeteria/nosotros" activo={paginaActual === "/nosotros"}>Nosotros</NavLink>
        <NavLink link="/Astro-Cafeteria/proceso" activo={paginaActual === "/proceso"}>Proceso</NavLink>
        <NavLink link="/Astro-Cafeteria/menu" activo={paginaActual === "/menu"}>menú</NavLink>
        <NavLink link="/Astro-Cafeteria/galeria" activo={paginaActual === "/galeria"}>galería</NavLink>
        <NavLink link="/Astro-Cafeteria/contacto" activo={paginaActual === "/contacto"}>contacto</NavLink>
        </nav>
    </div>
    <div class="px-4">
        <h1
            class="uppercase text-blanco text-center text-[40px] leading-normal font-bold mt-16 mb-5 md:mb-20 md:mt-[100px] lg:mb-48"
        >
            <slot/>
        </h1>
    </div>
</div>
