---
interface Props{
    link: string;
    activo?: boolean;
}

const { link, activo } = Astro.props;
---

<a href={link} class:list={[
    "text-blanco text-xl uppercase hover:text-secundario font-bold",
    {
        "text-secundario hover:text-blanco": activo,
        "text-blanco": !activo
    }
    ]}>
    <slot/>
</a>