---
import TitleCoffe from "./TitleCoffee.astro";
---

<section class="contenedor up">
    <TitleCoffe cont1="Lo que dicen nuestros" cont2="clientes" />
    <div class="bg-secundario p-8 text-left font-cursiva mt-14 rounded-lg md:p-16">
        <p>
            "El café es delicioso y el ambiente es perfecto para relajarse o trabajar. ¡Siempre vuelvo por más!"
        </p>
        <p class="text-primario text-2xl text-center my-5">--Ariel Tonato--</p>
    </div>
</section>
<style>
    section {
        @apply mt-[-100px] relative py-[80px] lg:px-[260px];
    }
</style>
